buoi_03/src1/student_ID.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified">

  <!-- Root element -->
  <xs:element name="school">
    <xs:complexType>
      <xs:sequence>
        <!-- Danh sách sinh viên -->
        <xs:element name="students" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="student" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="name" type="xs:string"/>
                    <xs:element name="date" type="xs:date"/>
                  </xs:sequence>
                  <!-- id là khóa chính -->
                  <xs:attribute name="id" type="xs:ID" use="required"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>

        <!-- Danh sách môn học, tham chiếu sinh viên qua IDREF -->
        <xs:element name="enrollments" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="enrollment" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:attribute name="studentRef" type="xs:IDREF" use="required"/>
                  <xs:attribute name="course" type="xs:string" use="required"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>

      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>
