buoi3/src3/donhang.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:order="http://company.com/order"
           xmlns:prod="http://company.com/product"
           targetNamespace="http://company.com/order"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified">

  <!-- Root -->
  <xs:element name="orders">
    <xs:complexType>
      <xs:sequence>
        <!-- Nhiều order -->
        <xs:element name="order" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <!-- Nhiều sản phẩm trong 1 order -->
              <xs:element name="item" maxOccurs="unbounded" 
                          type="prod:ProductType"
                          xmlns:prod="http://company.com/product"/>
            </xs:sequence>
            <xs:attribute name="id" type="xs:ID" use="required"/>
            <xs:attribute name="customer" type="xs:string" use="required"/>
            <xs:attribute name="date" type="xs:date" use="required"/>
          </xs:complexType>

          <!-- Ràng buộc: id của sản phẩm là duy nhất trong từng order -->
          <xs:unique name="UniqueProductInOrder">
            <xs:selector xpath="prod:item"/>
            <xs:field xpath="@id"/>
          </xs:unique>

        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- Kiểu dữ liệu cho sản phẩm -->
  <xs:complexType name="ProductType">
    <xs:sequence>
      <xs:element name="name" type="xs:string"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:string" use="required"/>
    <xs:attribute name="quantity" type="xs:integer" use="required"/>
    <xs:attribute name="price" type="xs:decimal" use="required"/>
  </xs:complexType>

</xs:schema>
